/* Global Styles */
html, body {
    height: 100%;  /* Ensure full viewport height */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;  /* Remove default margin */
    padding: 20px;  /* Add some padding for content */
    background: linear-gradient(to bottom, #3498db, #e84393);  /* Blue to pink gradient */
    color: #fff;
    display: flex;
    flex-direction: column;
}

h2, h3 {
    margin-top: 30px;
}

input, select, button {
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}

button {
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: rgba(255, 255, 255, 0.3);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    margin: 5px 0;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    justify-content: center;  /* This will center the modal-content vertically */
    align-items: center;      /* This will center the modal-content horizontally */
    display: flex;            /* This enables flexbox */
}


.modal-content {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    width: 30%;
    position: relative;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}



.close-button {
    color: #aaaaaa;
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

.close-button:hover, .close-button:focus {
    color: #fff;
}
